@page "{id:Guid}" 
@model CodingFactoryBlog.Pages.Admin.Lectures.EditModel
@{
}

<div class="bg-warning bg-opacity-10 p-4">

    <div class="container">

        
        <h1 > View Lecture :   </h1>

    </div>


</div>

@(Model.SelectedLecture !=null) {

<div>
    <div class="container mb-5 border-3 border-success">

        <form method="post">

            <div class="mb-5">
                <label for="forId">Id</label>
                <input type="text" class="form-control" id="forId" placeholder="Enter a Lecture Header" asp-for="SelectedLecture.Id" readonly>

            </div>


            <div class="mb-5">
                <label for="forHeader">Header</label>
                <input type="text" class="form-control" id="forHeader" placeholder="Enter a Lecture Header" asp-for="SelectedLecture.Header">

            </div>

            <div class="mb-5">
                <label for="forPageTitle">Page Title</label>
                <input type="text" class="form-control" id="forPageTitle" placeholder="Enter a Page Title" asp-for="SelectedLecture.PageTitle">
            </div>

            <div class="mb-5">
                <label for="forContent">Content(HTML)</label>
                <textarea class="form-control" id="forContent" placeholder="Enter the Lecture Content" maxlength="3000" asp-for="SelectedLecture.Content"> </textarea>
            </div>

            <div class="mb-5">
                <label for="forShortDescription">Short Description</label>
                <input type="text" class="form-control" id="forShortDescription" placeholder="Enter a Short Description" maxlength="50" asp-for="SelectedLecture.ShortDescription">
            </div>

            <div class="mb-5">
                <label for="forImageUrl">Image</label>
                <input type="text" class="form-control" id="forImageUrl" placeholder="Enter a remote image URL" asp-for="SelectedLecture.ImageUrl">
            </div>

            <div class="mb-5">
                <label for="forUniqueUrl">Lecture Url</label>
                <input type="text" class="form-control" id="forUniqueUrl" placeholder="Enter the URL your Lecture will have" asp-for="SelectedLecture.UniqueUrl">
            </div>

            <div class="mb-5">
                <label for="forPublishedDate">Published Date</label>
                <input type="date" class="form-control" id="forPublishedDate" asp-for="SelectedLecture.PublishedDate">
            </div>

            <div class="mb-5">
                <label for="forAuthor">Author</label>
                <input type="text" class="form-control" id="forAuthor" placeholder="Enter the Lecture Author" asp-for="SelectedLecture.Author">

            </div>

            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="isVisible" asp-for="SelectedLecture.Visible">
                <label class="form-check-label" for="isVisible">
                    Make the Lecture Visible ?
                </label>
            </div>




            <button type="submit"  class="btn btn-warning" asp-page-handler="Update"> Update</button>
            <button type="submit" class="btn btn-danger" asp-page-handler="Delete"> Delete Lecture </button>

        </form>
    </div>
</div>

} else {

    <div class="container">
        <p> Lecture Not Found :/ </p>
    </div>
}