@page
@model PrivacyModel
@{
    
}


<div class="card text-white text-center bg-danger mb-3" style="max-width: 100%;">
    <div class="card-header">About</div>
    <div class="card-body">
        <h5 class="card-title">This is my CF graduation project</h5>
        <p class="card-text">I wanna thank all my teachers for their dedication and high quality of work</p>
        <br>

        <p class="card-text">Special thanks goes to Dr Androutsos for his dedication and the motivation he provided us with his super high quality of teaching !</p>
    </div>
</div>
