@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello and Welcome to CF Lectures Blog</h1>
    <p> This ASP Core CRUD app is made as the final project by Georgios Zacharidis</p>
</div>
